*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lily Script One'
}

header{
    background-color: rgb(23, 23, 97);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul{
    display: flex;
}

li{
    padding-left: 15px;
}


