*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lily Script One'
}

/* estilização da header */
header{
    background-color: rgb(23, 23, 97);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul{
    display: flex;
}

li{
    padding-left: 15px;
}

/* estilização da main */

.banner > img{
    width: 100%;
}

.sessao-filmes > section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px
}

/* estilização do rodapé (footer) */

footer{
    background-color: rgb(23, 23, 97);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* responsividade do site */
